* {
    margin: 0px;
    padding: 0px;
}
body {
    width: 100%;
}
.color {

    background-color: #efefef
}

#wrapper {
    width: 100%;
    font-family: 'Noto Serif JP', serif;
}

#header {
    height: 90px;
    background-color: #4378ed;
}
#header li {
    float: right;
    padding: 33px 20px;
    list-style: none;
}
#header a {
    text-decoration: none;
    color: #FFFFFF;
}

#content .main {
    width: 900px;
    margin: 60px auto;
}
#content .main .box a {
    width: 70px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #4378ed;
}
#content .main .complete {
    width: 50px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #4378ed;
}


#content .main .box {
    display: flex;
}
#content .main .box .uncomplete-button {
    margin: 0px 10px 0px 0px;
}
#content .task-search {
    padding: 20px 0px 40px;
    clear: both;
}
#content .main .form {
    width: 200px;
    padding: 5px;
}
#content .main .button {
    width: 75px;
    padding: 5px;
    display: inline-block;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    border-width:1px;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #4378ed;
}
#content .main h2 {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 100;
}

/* table */
#content thead {
text-align: left;
/* width: calc( 100% - 1em ); */
}
#content .task-name {
width: 21%;
}
#content .dead-line {
width: 15%;
}
#content thead:after {
content: "";
height: 1px;
width: 100%;
padding: 15px 0;
display: block;
}
#content tbody {
display:block;
max-height:500px;
overflow-y:auto;
}
#content .main thead, tbody tr {
display:table;
width:100%;
table-layout:fixed;
}
#content .main .contents {
width: 20%;
padding-right: 10px;
}
#content .main .title-list {
display: flex;
}
#content .main .title-list .deadline {
margin: 0px 120px 20px 260px;
}
#content .main .table .botann:hover {
width: 100%;
color: #4378ed;
text-decoration: none;
}
#content .main .botann1 {
width: 70px;
    margin: 0px 0px 0px 10px;
padding: 5px;
text-align: center;
display: inline-block;
border-style: solid;
border-radius: 5px 5px 5px 5px;
border-width: 1px;
font-size: 16px;
text-decoration: none;
color: #FFFFFF;
background-color: #4378ed;
}
#content .main .botann2 {
margin: 0px 0px 0px -55px;
font-size: 16px;
width: 70px;
padding: 5px;
text-align: center;
display: inline-block;
border-style: solid;
border-radius: 5px 5px 5px 5px;
border-width: 1px;
text-decoration: none;
color: #FFFFFF;
background-color: green;
}
#content .main .botann3 {
width: 70px;
margin: 0px 0px 0px -110px;
font-size: 16px;
padding: 5px;
text-align: center;
display: inline-block;
border-style: solid;
border-radius: 5px 5px 5px 5px;
border-width: 1px;
text-decoration: none;
color: #FFFFFF;
background-color: red;
}
#content .main .botann4 {
width: 70px;
    margin: 0px 0px 0px 10px;
padding: 5px;
text-align: center;
display: inline-block;
border-style: solid;
border-radius: 5px 5px 5px 5px;
border-width: 1px;
font-size: 16px;
text-decoration: none;
color: #FFFFFF;
background-color: #4378ed;
}
#content .main .botann5 {
margin: 0px 0px 0px -50px;
font-size: 16px;
background-color: green;
}
#content .main .botann6 {
width: 70px;
margin: 0px 0px 0px -110px;
font-size: 16px;
padding: 5px;
text-align: center;
display: inline-block;
border-style: solid;
border-radius: 5px 5px 5px 5px;
border-width: 1px;
text-decoration: none;
color: #FFFFFF;
background-color: red;
}
/* signup.php */
#signup {
    width: 30%;
    margin: 150px auto;
    padding: 40px 0px 40px 0px;
    text-align: center;
    background-color: #FFFFFF;
}
#signup .index .width {
    width: 223px;
    margin: 0px 0px 20px 0px;
    height: 25px;
}
#signup .index p {
    margin-bottom: 20px;
}
#signup .index .input {
    width: 223px;
    height: 25px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    color: gray;
    border: solid 1px;
}

#signup .index .input:hover {
    color: #ffffff;
    background-color: #4378ed;
    cursor: pointer;
}
.error_list {
    width: 225px;
    margin: 10px auto;
	padding: 10px 30px;
	color: #ff2e5a;
	font-size: 86%;
	text-align: left;
	border: 1px solid #ff2e5a;
	border-radius: 5px;
}

/* create.php */
#tasks select {
    width: 13%;
    height: 27px;
}
#tasks .index {
    text-align: center;
    margin: 100px auto;
}
#tasks .index .box-001 {
    width: 13%;
    margin-bottom: 10px;
    padding: 4px 0px 4px 0px;
}
#tasks .index .box-002 {
    width: 13%;
    margin-bottom: 10px;
}
#tasks .index .box-003 {
margin-bottom: 315px;
}
#tasks .index .input {
    width: 13%;
    margin: 10px;
    padding: 1px 5px 1px 5px;
    background-color: #4378ed;
    color: #FFFFFF;
    border: solid 1px;
}

/* footer.php */
#footer .footer {
    width: 100%;
    height: 90px;
    background-color: #4378ed;
}


/* category.php */
#category .content {
width: 23%;
margin: 50px auto;
text-align: center;
}
#category .index {
margin: 20px 0px 20px 0px;   
}
#category .index .width {
    padding: 5px 0px;
}
#category .index .input {
    padding: 3px 15px;
}
#category tr {
display: table-row-group;
}
#category .botann1 {
    margin: 0px 0px 0px 10px;
    width: 70px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: green;
}
#category .botann2 {
    margin: 0px 0px 0px 5px;
    width: 70px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: red;
}
#category .botann {
    width: 10%;
    margin: 0px auto;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}
/* signinComplete.php */
.message {
    text-align: center;
    margin: 160px 0px 370px 0px;
}
.message p {
    margin: 10px;
}